html {
	overflow: hidden;
}

body {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #222;
}

canvas {
	position: absolute;
	width: 100vw;
	height: 50vw;
	max-height: 100vh;
	max-width: 200vh;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
}

.radio {
	position: absolute;
	left: 50%;
	width: 260px;
	margin: 10px;
	margin-left: -130px;
	z-index: 1000;
}

.radio label {
	cursor: pointer;
	font-size: 13px;
	font-family: verdana;
	color: #666;
}